<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE service>
<service id="mpris-scrobbler-lastfm">
    <type>sharing</type>
    <provider>mpris-scrobbler</provider>
    <name>Last.fm scrobbler</name>
    <description>MPRIS Scrobbler last.fm account provider</description>
    <icon>image://theme/icon-m-service-mpris-scrobbler-lastfm</icon>
    <!-- <icon>file:///usr/share/pixmaps/icons/hicolor/86x86/apps/mpris-scrobbler-lastfm.png</icon> -->
    <template>
        <group name="auth">
            <setting name="method">oauth2</setting>
            <setting name="mechanism">web_server</setting>
            <group name="oauth2">
                <group name="web_server">
                    <setting name="Host">https://www.last.fm</setting>
                    <setting name="AuthPath">/api/auth</setting>
                    <setting name="APIKey">990909c4e451d6c1ee3df4f5ee87e6f4</setting>
                    <setting name="APISecret">8bde8774564ef206edd9ef9722742a72</setting>
                </group>
            </group>
        </group>
    </template>
</service>
